<div class="teoria-container" *ngIf="teoria">
    <h1>Teoría del Bloque {{ bloqueId }}</h1>
    <h2>{{ teoria.titulo }}</h2>
    
    <div class="teoria-content">
        <section class="teoria-section" *ngFor="let seccion of teoria.secciones">
            <h2>{{ seccion.titulo }}</h2>
            
            <div class="teoria-body" 
                [appMathJax]="seccion.contenido">
                </div>

            <div class="teoria-column-image" *ngIf="seccion.imagen_url">
                <figure>
                    <img [src]="seccion.imagen_url" alt="Figura del bloque {{ bloqueId }}">
                    <figcaption>{{ seccion.imagen_caption }}</figcaption>
                </figure>
            </div>
        </section>
    </div>
</div>