<div class="teoria-container">
    <h1>Teoría del Bloque {{ bloqueId }}</h1>
    
    <div class="teoria-content">
        <section class="teoria-section">
        <h2>Introducción al temario</h2>
        <p>En esta seccion ira la introduccion al contenido del temario del {{ bloqueId }}</p>
        </section>

        <section class="teoria-section">
        <h2>Contenido Teórico</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum architecto doloremque est ullam, minus sit expedita commodi fuga amet porro, sed tempora! Distinctio ullam sed, laborum reiciendis adipisci nobis dolorum?</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat rerum blanditiis, cumque optio deserunt, quasi, voluptatem consequatur maiores incidunt possimus dolor reprehenderit eius nostrum iste laborum culpa aliquid impedit porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque adipisci, ad iure repellat pariatur! Suscipit facere harum blanditiis aliquid expedita eligendi eius labore dignissimos, aliquam at dolorum, temporibus et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius soluta repudiandae harum excepturi cumque architecto similique nesciunt, id ipsam iste veniam laudantium quos, corrupti asperiores commodi possimus ab dolores quis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat rerum blanditiis, cumque optio deserunt, quasi, voluptatem consequatur maiores incidunt possimus dolor reprehenderit eius nostrum iste laborum culpa aliquid impedit porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque adipisci, ad iure repellat pariatur! Suscipit facere harum blanditiis aliquid expedita eligendi eius labore dignissimos, aliquam at dolorum, temporibus et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius soluta repudiandae harum excepturi cumque architecto similique nesciunt, id ipsam iste veniam laudantium quos, corrupti asperiores commodi possimus ab dolores quis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat rerum blanditiis, cumque optio deserunt, quasi, voluptatem consequatur maiores incidunt possimus dolor reprehenderit eius nostrum iste laborum culpa aliquid impedit porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque adipisci, ad iure repellat pariatur! Suscipit facere harum blanditiis aliquid expedita eligendi eius labore dignissimos, aliquam at dolorum, temporibus et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius soluta repudiandae harum excepturi cumque architecto similique nesciunt, id ipsam iste veniam laudantium quos, corrupti asperiores commodi possimus ab dolores quis.</p>
        </section>

        <section class="teoria-section">
        <h2>Ejemplos</h2>
        <p>Aqui irian los diferentes grafos de LaTeX</p>
        </section>
    </div>
</div>

