<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <h2>Barra de navegacion</h2>
        </div>

        <ul>
            <li *ngFor="let bloque of bloques">
                <a [routerLink]="['/bloque', bloque.id]" routerLinkActive="active">
                    {{ bloque.nombre }}
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>

<!-- empieza un bucle donde repite el li, tanto por cada elemento del array bloques
Crea una URL, por ejemplo si bloque.id es 3, genera /bloque/3 -->