<nav class="footer-container">
    <nav class="principal">
        <ul class="secundario">
            <nav class="separacion">
                <li class="li-principal">información legal</li>
            </nav>
            <li>política de privacidad</li>
            <li>términos y condiciones</li>
            <li>aviso de derechos de autor</li>
        </ul>
        <ul class="secundario">
            <nav class="separacion">
                <li class="li-principal">datos de contacto</li>
            </nav>
            <li>dirección</li>
            <li>teléfono</li>
            <li>email</li>
        </ul>
        <ul class="secundario">
            <nav class="separacion">
                <li class="li-principal">enlaces de navegación</li>
            </nav>
            <li>mapa del sitio</li>
            <li>enlaces a redes sociales</li>
            <li>páginas importantes</li>
        </ul>
        <ul class="secundario">
            <nav class="separacion">
                <li class="li-principal">formularios de suscripción</li>
            </nav>
            <li>newsletter</li>
        </ul>
    </nav>
</nav>