.footer-container {
    background: linear-gradient(90deg, #000000 0%, #25255e 100%);
    width: auto;
    padding: 1rem;
}

.principal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}

.secundario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgray;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.li-principal {
    color: white;
    font-weight: 500;
}

.separacion {
    margin-bottom: 1rem;
}