.footer-container {
    background: linear-gradient(90deg, #000000 0%, #25255e 100%);
    width: auto;
    padding: 1rem;
}

.principal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
    flex-wrap: wrap;
}

.secundario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgray;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.li-principal {
    color: white;
    font-weight: 500;
}

.separacion {
    margin-bottom: 1rem;
}



@media (max-width: 768px) {
    .principal {
        flex-direction: column; 
        gap: 0; 
        align-items: flex-start; 
        max-width: 100%;
        padding-left: 10px;
    }

    .secundario {
        width: 100%; 
        text-align: left; 
        margin-bottom: 1.5rem; 
        min-width: unset;
    }

    .separacion {
        margin-bottom: 0.5rem; 
    }
}